<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestion de la librairie</title>
    <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img class="resp" src="https://upload.wikimedia.org/wikipedia/fr/4/48/Logo_La_Grande_Librairie_2011.png" alt="logo">
        </div>
        <div class="menu_burger">
            <div class="burger_line"></div>
            <div class="burger_line"></div>
            <div class="burger_line"></div>
        </div>
        <nav class="nav">
            <ul class="header_nav_ul">
                <li><a class="header_link" href="{{ path('book_list_admin') }}">Livres</a></li>
                <li><a class="header_link" href="{{ path('author_list_admin') }}">Auteurs</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
         {% block content %}{% endblock %}
    </main>
</body>
</html>